button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  border: 0;
  outline: 0;
  color: var(--color-text);;
}

.contact {
  background: #F9E8D9;
}

.contact-button {
  width: 20%;
  height: 3rem;
  align-self: flex-end;
  background: var(--color-text);
  border: 1px solid var(--color-text);
  color: white;
}
.contact-button:hover {
  background: white;
  border: 1px solid var(--color-text);
  color: var(--color-text);
}



.form-container {
  max-width: 800px;
  width: 100%;
  margin: 5rem auto;
  padding: 0 1rem;
}

.form-styles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-control {
  width: 100%;
  border: 1px solid var(--color-text);
  border-radius: 1px;
  background: none;
  padding: 0.7em;
}

.form-control:valid {
  border: 1px solid var(--color-success);
  background: green;
}

.form-control:invalid {
  background: var(--warning);
}

/* .form-control:valid + .error-message {
  display: none;
}

.form-control:invalid + .error-message {
  display: block;
} */




[placeholder]::-webkit-input-placeholder { color: #8D8D8D; }

[placeholder]:hover::-webkit-input-placeholder { color: var(--color-text); }

[placeholder]:focus::-webkit-input-placeholder { color: transparent; }

[placeholder]::-moz-placeholder { color: #8D8D8D; }

[placeholder]:hover::-moz-placeholder { color: var(--color-text); }

[placeholder]:focus::-moz-placeholder { color: transparent; }

[placeholder]:-ms-input-placeholder { color:#8D8D8D; }

[placeholder]:hover:-ms-input-placeholder { color: var(--color-text); }

[placeholder]:focus:-ms-input-placeholder { color: transparent; }


.error-message {
  display: none;
  color: red;
}


------
/* .form-control:placeholder-shown {
  border-color: black;
}
.form-control:placeholder-shown + small {
  display: none;
} */

----

input:focus {
  outline: none;
}

input:not(:focus):not(:placeholder-shown):invalid {
  border-color: red;
}
input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
  display: block; 
}