@import "/css/imports/variables.css";
@import "/css/imports/links.css";


html {
  font-size: 100%;
}

html, body {
  height: 100vh;
  overflow-x: hidden;
  /*Have added the 2 lines of code below to make the menu work in Safari*/
  position: absolute; 
  width: 100%;
}



*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: var(--text-paragraph);
	font-size: calc(13px + 0.3vw);
	line-height: 1.4;
	margin: 0;
	padding: 0;
  color: var(--color-text);
}

h1, h2, h3 {
  font-family: var(--text-heading), sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}


/*THEME LAYOUT*/

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background: #ffffff73;
  height: 100px;
  top: 0;
  z-index: 100;
  position: sticky;
}

main {
  background: red;
  flex-grow: 1;
}

footer {
  background: purple;
  height: 100px;
}


/*NAVIGATION*/



.logo {
  width: 130px;
  display: block;
}

.header-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  padding: 5px 30px;
}

.burger {
  display: block;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 4px;
  background-color: #0a0d00;
  margin: 5px;
  transition: all 0.3s ease;
  border-radius: 7px;
}

@keyframes navFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-7px, -6px);
}

.toggle .line1, .toggle .line2, .toggle .line3 {
  background-color: white;
}

.nav-unique {
  position: absolute;
  right: 0px;
  top: 0vh;
  height: 100vh;
  background-color: var(--color-text);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40vw;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  padding-top: 8rem;
}

.nav-active {
  transform: translateX(0%);
  margin-top: 0px;
}




