/*HERO SECTION*/

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  color: white;
  background: url(/assets/images/frankie-cordoba-fPYJeMmYWM4-unsplash.jpg) no-repeat center center fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,50%);
  text-align: center;
}

.hero-text {
  max-width: 50vw;
}

.hero-title-link {
  color: inherit;
}

.hero-title-link:hover {
  text-decoration: underline;
  cursor: pointer;
}




/*FEATURED POSTS SECTION*/

.featured-container {
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.featured-post {
  display: flex;
  gap: 3rem;
}

.featured-container > .blog-link:first-child > article {
  flex-direction: row-reverse;
  margin-right: 80px;
  
}

.featured-container > .blog-link:last-child > article {
  flex-direction: row;
  margin-left: 80px;
}

.featured-title {
  margin-top: 0px;
}

.featured-image {
  max-width: 50vw;
}

.featured-post:hover .featured-title {
  text-decoration: underline;
}


/*GET IN TOUCH TO TELL US YOUR STORIES*/

.contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  color: white;
  background: url(/assets/images/frankie-cordoba-fPYJeMmYWM4-unsplash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,50%);
  text-align: center;
}

.contact-contents {
  max-width: 50%;
  color: white;
  
}

.contact-contents:hover{
  text-decoration: underline;
}




