/*SMALL VIEWPORT*/
@media screen and (max-width: 600px) {
  /*hamburger menu*/
  .nav-unique {
    width: 100vw;
  }

  /*blog article*/
  .article-wrapper {
    width: 80vw;
  }

  /*blog page - layout*/

  .blog-container {
    margin: 30px;
  }

  .blog-image {
    height: 22vh;
  }

  
  /*index page - latest posts*/

  .blog-card-image {
    width: 15rem;
    height: 10rem;
  }

  /*index page - featured section*/

  .one {
    flex-flow: column-reverse;
    margin: 80px 0px;
  }
  .two {
    flex-flow: column-reverse;
    margin: 0px;
  }

  .second-image {
    margin-left: 33px;
  }

  .featured-image {
    max-width: 90vw;
  }

  .featured-text-container {
    text-align: center;
    margin: 0px 20px;
  }

  /*home page - featured layout*/

  .featured-container > .blog-link:first-child > article {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    margin: 0px;
  }
  
  .featured-container > .blog-link:last-child > article {
    flex-direction: column-reverse;
    margin: 0px;
    flex-wrap: wrap-reverse;
  }

}

/*MEDIUM VIEWPORT*/

@media screen and (max-width: 768px) {

  .button-wrapper {
    display: none;
  }

  /*blog specific page - modal styling*/

  .modal {
    padding: 0px;
  }

  /*blog page - layout*/

  .blog-container {
    grid-template-columns: 1fr 1fr;
  }

  

}




/* LAPTOP VIEWPORT*/
@media screen and (min-width: 1024px) {
  
 

}




/* LAPTOP L VIEWPORT*/

@media screen and (min-width: 1440px) {

 /*INDEX PAGE - LATEST POSTS*/

 .blog-card-image {
  width: 40vw;
}

}